body, html{
    background-color: almond;
    height: 100%;
    margin: 0px;
    font-size: 100%;
    align-content: center;
    text-align:center ;
}
.main{
    border: 3px black;
    margin: 10px 0;
}


.select{
    
    border: 1px black;
    margin:10px;
}

.bottom {
    width: 30px;
    height: 30px;
    text-align: center;
   

}

.box-model{
 
    background-color: honeydew;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 350px;
    margin-right: 350px;
    
    padding: 50px ;
  
   
}
#item{
    flex-direction: column;
}
