body, html{
    background-color: almond;
    height: 100%;
    margin: 0px;
    font-size: 100%;
    align-content: center;
    text-align:center ;
}
.container{
    border: 3px black;
    margin: 10px 0;
    align-items: center;
}


.footer {
    text-align: center;
   

}
.lbtn{
    background-color: grey;
}


